<!--gulp compile-typescript-->

<div class="container signinbody">
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <div class="panel panel-default extramargin">
                <div class="panel-heading">
                    LOGIN ON COMAIL/COMAT
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" #loginForm="ngForm">
                        <div class="form-group">
                            <div class="col-xs-1 col-sm-1 col-md-1">&nbsp;</div>
                            <div class="col-xs-10 col-sm-10 col-md-10">
                                <!--<input type="email" class="form-control" id="inputEmail3" placeholder="Username" required>-->
                                <input type="text" class="form-control input-lg" placeholder="Username" [(ngModel)]="_user.Username"
                                       name="username" id="username" #username="ngModel" required />
                                <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
                                    Username is required
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">&nbsp;</div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-1 col-sm-1 col-md-1">&nbsp;</div>
                            <div class="col-xs-10 col-sm-10 col-md-10">
                                <!--<input type="password" class="form-control" id="inputPassword3" placeholder="Password" required>-->
                                <input type="password" class="form-control input-lg" placeholder="Password" [(ngModel)]="_user.Password"
                                       name="password" id="password" #password="ngModel" required />
                                <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                                    Password is required
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1">&nbsp;</div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-1 col-sm-1">&nbsp;</div>
                            <div class="col-md-offset-3 col-xs-10 col-sm-10 col-md-9">
                                <!--<button class="btn success">SIGN IN</button>-->
                                <button class="btn btn-primary btn-lg btn-block" (click)="login()" [disabled]="!loginForm.form.valid">Sign In</button>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" [(ngModel)]="_user.RememberMe" name="remember"> Remember me
                            </label>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
